
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Color Theme Swatches in Hex */
:root {
  --clr1: #F2F2F2;
  --clr2: #A6A6A6;
  --clr3: #595959;
  --clr4: #262626;
  --clr5: #0D0D0D;
}

body {
  background-image: linear-gradient(200deg, var(--clr2), var(--clr3), var(--clr4));
}


.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
 
.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 350px;
  margin: auto;

  border-radius: 10px;
  border: 1px solid var(--clr5);
  padding: 15px 5px;
  box-shadow: 2px 2px 5px 1px var(--clr3);
  background-image: linear-gradient(200deg, var(--clr1), var(--clr1), var(--clr1), var(--clr2));

  font-family: 'Roboto', sans-serif;
  color: var(--clr5)
}

.timer {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  padding: 10px 0;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.btn-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 50px;
  color: var(--clr4);
  padding: 5px;
  cursor: pointer;
}
.icon:hover {
  color: var(--clr3);
  
}

.lap-times {
  display: flex;
  margin: 10px 0;
}

.laps-list {
 list-style: none;
 margin: auto;
 padding: 5px;

 max-height: 50vh;
 overflow: auto;
}

.fastest {
  color: green;
}

.slowest {
  color: red;
}

.btn {
  background-color: var(--clr1);
  color: var(--clr5);
  border: 1px solid var(--clr4);
  text-decoration: none;
  cursor: pointer;
  margin: 0 2px;
  padding: 5px 10px;
  border-radius: 5px; 
}

.btn:hover {
  background-color: var(--clr3);
}
