@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');

:root {
  --bckgrnd: #e5e5dd;
  --red: #e63611;
  --blue: #1171c0;
  --black: #11100e;
}

 /* original dimensions 35x50cm */

 /* original font Gothic 725. I'm using Libre Franklin from google fonts here, as it looks quite similar */

 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 .main-container {
   display: flex;
   margin: auto;
   width: 700px;
   height: 1000px;
   background-color: var(--bckgrnd);
   /* background image for reference only */
   /* background-image: url(poster.png);
   background-size: cover; */
   font-family: 'Libre Franklin';
   color: var(--black);
 }

 .grid-container {
   display: grid;
   grid-template-columns: 280px 215px 205px;
   position: relative;
 }

 .box-blue {
   grid-column: 1;
   width: 280px;
   height: 450px;
   background-color: var(--blue);
   position: absolute;
   top: 220px;
 }

 .box-red {
   grid-column: 3;
   width: 205px;
   height: 450px;
   background-color: var(--red);
   position: absolute;
   top: 220px;
 }

.box-mid {
  grid-column: 2;
  width: 88px;
  height: 774px;
  background-color: var(--bckgrnd);
  position: absolute;
  top: 5px;
}

.box-mid-side {
  grid-column: 2;
  width: 127px;
  height: 774px;
  background-color: var(--black);
  position: absolute;
  left: 88px;
  top: 108px;
  transform: skewY(59.5deg);
}

.box-mid-bottom {
  grid-column: 2;
  width: 89px;
  height: 216px;
  background-color: var(--black);
  position: absolute;
  top: 774px;
  left: 64px;
  transform: skewX(30.5deg);
}

.text-title {
  grid-column: 1;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 700px;
  left: 32px;
  letter-spacing: -2px;
  line-height: 43px;
}

.text {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  top: 842px;
  left: 31px;
  letter-spacing: -1.5px;
  line-height: 20px;
}

.left {
  grid-column: 1;
}
.right {
  grid-column: 3;
}
